/* Fonts */
@font-face {
  font-family: 'DS-Digital';
  font-weight: 300;
  src: url("../fonts/Digital/DS-DIGI.TTF");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'DS-Digital';
  font-weight: 400;
  src: url("../fonts/Digital/DS-DIGIT.TTF");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'DS-Digital';
  font-weight: 500;
  src: url("../fonts/Digital/DS-DIGI.TTF");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'DS-Digital';
  font-weight: bold;
  src: url("../fonts/Digital/DS-DIGIB.TTF");
  /* IE9 Compat Modes */ }

.scan-detail .card {
	background-color: transparent;
}

.scan-detail {
	font-family: "DS-Digital", sans-serif;
	font-weight: bold;
}

#scan-face-frame {
/*	margin: 0 auto;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 50%;*/

	margin: 0 auto;
    width: 250px;
}

#scan-face-img {
	/*width: 100%;
	margin-top: -100px;
	height: auto;*/

	width: 80%;
	height: 300px;
	border-radius: 4px;
}

#default-scan-face-img {
	width: 500px;
}

.none {
	display:none;
}

.scan-label {
	font-size: 2rem !important;
	color: #7e8088 !important;
}

.scan-input {
	font-size: 2rem !important;
	background-color: transparent !important;
	border-color: transparent !important;
}

.header-scan {
	font-family: "DS-Digital", sans-serif;
	font-weight: bold;
}

.logo-style {
	text-decoration: none !important;
    color: white !important;
    font-weight: bold;
    letter-spacing: 5px;
    color: pink !important;
}

.logo-style:hover {
	color: #333;
}

.page-item:first-child , .page-item.disabled .page-link {
    background-color: black !important;
}
.page-link {
    border-color: #303438 !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown, .select2-container--default .select2-selection--multiple {
    background-color: #2a3038 !important;
}

.form-control[readonly] {
	background-color: #2A3038;
}

.datatable-buttons:hover {
	text-decoration: none;
}

.datatable-buttons i{
	font-size: 1.3rem !important;
}

.datatable-buttons:hover i{
	color: #384ad7 !important;
}